@charset "UTF-8";
/* Палитра Цветов
      Логотип
Цвет логотипа: синий #2196F3;
Цвет логотипа: черный #000000;
Цвет логотипа: белый #FFFFFF;
      Текст
Цвет заголовков: темный #212121
Цвет параграфов, контакты на белом фоне: серый #757575
Контакты на сером фоне: rgba(255, 255, 255, 0.6)
      Фон
Основной цвет фона белый #FFFFFF
Основной цвет фона темный #2F303A
Вторичный цвет фона светло-серый #F5F4FA
      Кнопки
Основной цвет кнопок синий #2196F3
Цвет :hover на синих кнопках синий #188CE8
Основной цвет кнопок серый #F5F4FA
Цвет :hover на серых кнопках синий #2196F3
Цвет бордера нижний у хедера #ECECEC
Цвет бордера карточек портфолио #EEEEEE
Team social icon color #AFB1B8
Footer connect icons color rgba(255, 255, 255, 0.1);

input-border-color
*/
/* Fonts
Logo Raleway 700; 
h1 Roboto 900
h2 Roboto 700
li,h3 Roboto 500
p Roboto 400 */
:root {
  --main-color: #ffffff;
  --header-logo-color: #000000;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --text-color-secondary: rgba(255, 255, 255, 0.6);
  --bg-color-first: #2f303a;
  --bg-color-second: #f5f4fa;
  --btn-color-hover: #188ce8;
  --header-border: #ececec;
  --portfolio-cars-border: #eeeeee;
  --social-icon-fill: #afb1b8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --services-overlay-bg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(47, 48, 58, 0.8);
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --sign-in-border: rgba(255, 255, 255, 0.3);
  --anim-time: 250ms;
  --anim-time-line: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main preferences */
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

body {
  color: var(--text-color);
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid yellow; */
}

/* Header section */
.header {
  border-bottom: 1px solid var(--header-border);
}

.header__logo {
  padding: 24px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__header {
  color: var(--header-logo-color);
}

.navigation {
  margin-left: 93px;
}

.site-nav {
  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim-time) var(--anim-time-line);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Header contacts section */
.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--anim-time) var(--anim-time-line);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  padding: 200px 0;
  background-color: var(--bg-color-first);
  padding: 200px auto;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/order-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */
.btn {
  /* padding-top: 10px 32px; */
  padding: 0;
  width: 200px;
  height: 50px;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--anim-time) var(--anim-time-line);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-color-hover);
}

/* Advantages section */
.advantages-list {
  display: flex;
  justify-content: space-between;
}

.advantages-list__item {
  width: 270px;
}

.advantages-list__item + .advantages-list__item {
  margin-left: 30px;
}

.advantages-list__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--bg-color-second);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages-list__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Services section */
.services {
  padding-bottom: 94px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-list__item {
  position: relative;
}

.services-list__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--services-overlay-bg);
}

.services-title,
.team-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team section */
.team {
  background-color: var(--bg-color-second);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__item {
  padding-bottom: 30px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__img {
  margin-bottom: 30px;
}

.team-list__worker {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  text-align: center;
}

/* -----Social----- */
.social {
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--social-icon-fill);
  transition: color var(--anim-time) var(--anim-time-line),
    background-color var(--anim-time) var(--anim-time-line);
}

.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
}

/* Clients section */
.clients-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-fill);
  color: var(--social-icon-fill);
  border-radius: 4px;
  transition: color var(--anim-time) var(--anim-time-line),
    border-color var(--anim-time) var(--anim-time-line);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-first);
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__footer {
  color: var(--main-color);
}

.address-list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  color: var(--text-color-secondary);
  transition: color var(--anim-time) var(--anim-time-line);
}

.address-list__link--main-color {
  color: var(--main-color);
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}

/* Footer connect */
.footer-container {
  display: flex;
  align-items: baseline;
}

.connect {
  margin-left: 70px;
}

.connect-title,
.sign-in-title {
  display: block;
  margin-bottom: 20px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.connect-list {
  display: flex;
  justify-content: center;
}

.connect-list__item + .connect-list__item {
  margin-left: 10px;
}

.connect-list__icon {
  fill: var(--main-color);
}

.connect-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);
  transition: background-color var(--anim-time) var(--anim-time-line);
}

.connect-list__link:hover,
.connect-list__link:focus {
  background-color: var(--accent-color);
}

/* Footer sign-in section */
.sign-in {
  margin-left: auto;
}

.sign-in-form {
  display: inline-flex;
  align-items: center;
}

.sign-in-field {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--sign-in-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400; */
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.sign-in-field::placeholder {
  /* font-family: "Roboto";
    font-style: normal;
    font-weight: 400; */
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.sign-in-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.sign-in-btn__icon {
  margin-left: 10px;
  fill: var(--main-color);
}

/* ---Backdrop--- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  opacity: 1;
  transition: opacity var(--anim-time) var(--anim-time-line),
    visibility var(--anim-time) var(--anim-time-line);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--anim-time) var(--anim-time-line);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid var(--close-btn-border);
  border-radius: 50%;
  outline: none;
  transition: fill var(--anim-time) var(--anim-time-line);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

/* Modal formfield */
.modal-form {
  width: 100%;
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.field {
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.field__wrap {
  position: relative;
  margin-bottom: 10px;
}

.field__input {
  display: block;
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--anim-time) var(--anim-time-line);
}

.field__wrap--bottom-gap {
  margin-bottom: 20px;
}

.field__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  fill: var(--title-color);
  transition: fill var(--anim-time) var(--anim-time-line);
}

.field__wrap:focus-within > .field__input {
  border-color: var(--accent-color);
}

.field__wrap:focus-within > .field__icon {
  fill: var(--accent-color);
}

.field-comment {
  display: block;
  min-width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--anim-time) var(--anim-time-line);
}

.field-comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

/* Modal agreement checkbox*/
.checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color 250ms linear, border 250ms linear;
  fill: transparent;
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox:focus-within > .checkbox__icon {
  border: 2px solid var(--btn-color-hover);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: var(--main-color);
  /* background-image: url("../img/full-check.svg"); */
  /* background-size: contain;
  background-origin: border-box; */
}

/* Modal submit button */
.modal-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Porttfolio filter */
.filter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--bg-color-second);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: color var(--anim-time) var(--anim-time-line),
    background-color var(--anim-time) var(--anim-time-line),
    box-shadow var(--anim-time) var(--anim-time-line);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--current {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio content */
.product-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.product-set__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.product-card {
  display: block;
  transition: box-shadow var(--anim-time) var(--anim-time-line);
}

.product-card__thumb {
  position: relative;
  overflow: hidden;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-overlay-bg);
  color: var(--main-color);
  transform: translateY(101%);
  transition: transform var(--anim-time) var(--anim-time-line);
}

.product-card:hover .product-card__overlay,
.product-card:focus .product-card__overlay {
  transform: translateY(0);
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__info {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-cars-border);
  border-right: 1px solid var(--portfolio-cars-border);
  border-bottom: 1px solid var(--portfolio-cars-border);
}

.product-card__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-card__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */
