/* Clients section */

.clients-title {
    margin-bottom: 50px;

    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients-list {
    display: flex;
    justify-content: space-between;

    &__item + &__item {
        margin-left: 30px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 92px;
        border: 1px solid var(--social-icon-fill);
        color: var(--social-icon-fill);
        border-radius: 4px;

        transition: color var(--anim-time) var(--anim-time-line),
            border-color var(--anim-time) var(--anim-time-line);
    }
    &__icon {
        fill: currentColor;
    }
}
.clients-list__link {
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

}