/* Clients section */

.clients-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -30px;
    margin-left: -30px;
    

    &__item {

        margin-bottom: 30px;
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
        
        @media screen and (min-width: 768px) {
            width: calc(100% / 3 - 30px);
            margin-left: 30px;
        }

        @media screen and (min-width: 1200px) {
            width: calc(100% / 6 - 30px);
            margin-left: 30px;
        }
    }
    

    &__link {

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 92px;
        border: 1px solid var(--social-icon-fill);
        color: var(--social-icon-fill);
        border-radius: 4px;

        transition: color var(--anim-time) var(--anim-time-line),
            border-color var(--anim-time) var(--anim-time-line);
            
    }
    &__icon {
        fill: currentColor;
    }
}
.clients-list__link {
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

}