/* Footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color-first);
  &__logo {
    margin-bottom: 20px;
  }
}

/* Footer connect */

.footer-container {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer-contacts {

  text-align: center;

  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-left: calc(76px - 15px);
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    text-align: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 70px;
  }
} 

.logo__footer {
  color: var(--main-color);
}

// Footer address

.address-list {

  text-align: center;

  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  &__item:not(:last-child){
    margin-bottom: 9px;
  }

  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }

}
.address-list__link {
  color: var(--text-color-secondary);
  transition: color var(--anim-time) var(--anim-time-line);
  &--main-color {
    color: var(--main-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}


.connect {

  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
 
}

.connect-title,
.sign-in-title {
  display: block;

  margin-bottom: 20px;

  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
}

.connect-list {
  display: flex;
  justify-content: center;
  &__item + &__item {
    margin-left: 10px;
  }
  &__icon{
    fill: var(--main-color);
  }
}

.connect-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-icon-bg);

  transition: background-color var(--anim-time) var(--anim-time-line);

  &:hover,
  &:focus{
    background-color: var(--accent-color);
  }
}


/* Footer sign-in section */

.sign-in {
 
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    // margin-left: 93px;
    margin-right: 0;
  }

}

.sign-in-form {
  // display: inline-block;
  
  text-align: center;
  // max-width: 450px;

  @media screen and (min-width: 1200px) {
      display: inline-flex;
      align-items: center;
      width: 100%;
    }
}

.sign-in-field {

  display: block;

  width: 100%;

  
  margin-bottom: 20px;

  padding: 15px 16px;
  
  cursor: pointer;

  background-color: transparent;
  border: 1px solid var(--sign-in-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400; */
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-color);

  &::placeholder {
      /* font-family: "Roboto";
    font-style: normal;
    font-weight: 400; */
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: var(--text-color-secondary);
    }

    @media screen and (min-width: 768px) {

      width: 450px;
   
    }

    @media screen and (min-width: 1200px) {
      display: inline-block;
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
}

.sign-in-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__icon {
      margin-left: 10px;
      fill: var(--main-color);
    }
}