/* Hero section */

.hero {

    max-width: 480px;

    margin-left: auto;
    margin-right: auto;

    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;
    
    
    
    background-color: var(--bg-color-first);
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2pddx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../img/hero-mob-x2.jpg);
    }

    @media screen and (min-width: 481px) {
        
        max-width: 768px;

        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero-tab.jpg);
           
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2pddx) {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../img/hero-tab-x2.jpg);
        }
    }

    @media screen and (min-width: 769px) {

        max-width: 1600px;

        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../img/hero-desk.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2pddx) {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../img/hero-desk-x2.jpg);
        }
    }

    // &__container {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    
    //     @media screen and (min-width: 1200px) {
    //         padding-top: 200px;
    //         padding-bottom: 200px;
    //     }
    // }

    &__title {
        color: var(--main-color);
        font-weight: 900;
        
        font-size: 26px;
        line-height: 1.6;
        // text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 360px;
  
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            
            max-width: 696px;
        }
    }
}
